@import "./normalize.css";

:root {
	--montserrat: "Montserrat Variable", sans-serif;
	--chocolate: "Chocolate Classic Sans", sans-serif;
	--forum: "Forum", "Times New Roman", Times, serif;
	--jetbrains: "JetBrains Mono Variable", monospace;
	color-scheme: light dark;
	font-size: clamp(0.9rem, 0.6rem + 0.5svw, 1.5rem);

	/* Основные цвета */
	--bg-dark: light-dark(oklch(0.92 0.025 264), oklch(0.1 0.025 264));
	--bg: light-dark(oklch(0.96 0.025 264), oklch(0.15 0.025 264));
	--bg-light: light-dark(oklch(1 0.025 264), oklch(0.2 0.025 264));
	--text: light-dark(oklch(0.15 0.05 264), oklch(0.99 0.01 264));
	--text-muted: light-dark(oklch(0.4 0.08 264), oklch(0.76 0.05 264));
	--highlight: light-dark(
		hsl(from #5a86e6 h s calc(l - 10)),
		hsl(from #5a86e6 h s calc(l + 10))
	);
	/*--highlight: light-dark(oklch(1 0.05 264), oklch(0.5 0.05 264));*/
	--border: light-dark(oklch(0.6 0.05 264), oklch(0.4 0.05 264));
	--border-muted: light-dark(oklch(0.7 0.05 264), oklch(0.3 0.05 264));
	--border-radius: 1rem;

	/* Акцентные цвета */
	/*--primary: light-dark(oklch(0.4 0.1 264), oklch(0.76 0.1 264));*/
	--primary: oklch(from #0a3594 l c h);
	--secondary: oklch(0.623 0.214 259.815);
	/*--secondary: light-dark(oklch(0.4 0.1 84), oklch(0.76 0.1 84));*/
	--danger: oklch(0.637 0.237 25.331);
	--warning: oklch(0.705 0.213 47.604);
	--success: oklch(0.723 0.219 149.579);
	--info: hsl(from var(--secondary) h s calc(l - 10));
	/*--danger: light-dark(oklch(0.5 0.05 30), oklch(0.7 0.05 30));
	--warning: light-dark(oklch(0.5 0.05 100), oklch(0.7 0.05 100));
	--success: light-dark(oklch(0.5 0.05 160), oklch(0.7 0.05 160));
	--info: light-dark(oklch(0.5 0.05 260), oklch(0.7 0.05 260));*/
}

html[data-theme="light"] {
	color-scheme: light;
}

html[data-theme="dark"] {
	color-scheme: dark;
}

body {
	font-family: var(--chocolate);
	font-size: 1rem;
	line-height: 1.5;
	color: var(--text);
	background-color: var(--bg);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100svh;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

h6 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.5625rem;
}

h4 {
	font-size: 1.95rem;
	line-height: 1.3;
}

h3 {
	font-size: 2.44rem;
}

h2 {
	font-size: 3.05rem;
	line-height: 1.1;
}

h1 {
	font-size: 3.8147rem;
	line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--forum);
	font-weight: 400;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h1 {
	margin-top: 0;
}

p {
	font-family: var(--montserrat);
	color: var(--text-muted);
}

.material-icons {
	font-family: "Material Icons", sans-serif;
	color: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	transition: transform 0.3s ease;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

.container {
	max-width: 1600px;
	margin: 0 auto;
}
